/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap'); */

#root {
    /* max-width: 1500px;
    max-height: 900px; */
    /* font-family: "Barlow Condensed", sans-serif; */
    font-style: normal;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

* {
    max-width: 1500px;
    max-height: 900px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

.background-filter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #070d1b;
    z-index: 20;
    mask-image: radial-gradient(transparent 70%, white);
    pointer-events: none;
}